#Pages ul li a{
    @apply mt-6 text-white 
}

.Main__Navbar{
    @apply flex justify-between px-10  text-white bg-blue-700 p-1
}

.Nav__heading{
    @apply text-3xl font-extrabold
}

.nokia__nav__btn{
    @apply bg-white text-black rounded-xl w-[80px] h-[25px] text-sm mt-1 
}
.cloths-navbar{
    display: flex;
    align-items: center; 
    padding: 0px 20px;
    height: 80px;
   
    border-bottom: 1px solid gray;
    
}





.small{
    display: flex;
    gap: 40px;
    
  
    
}

.small {
    list-style: none;
    letter-spacing: 2px;
    font-size: 15px;
    color: black;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    line-height: 5px;
}

.small li:hover{
    cursor: pointer;
}

.navbar__icon{
    font-size: 25px;
    cursor: pointer;
    display: none;
    
}

.Navbar__icons{
    font-size: 26px;
    align-items: center;
    @apply gap-3 flex justify-center 
}
.faFacebook{
    border: 1px solid white;
    border-radius: 50%;
    @apply p-1 
}
@media (max-width:800px) {
    .navbar__icon{
        display: flex;
        color: white;
        margin-top: 4px; 
        /* margin-left: 50px; */
         /* margin-left: 400px; */
         padding: 0px;
    }
    .small{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 28px;
        left: -100%;
        margin-top: 17px;
        background-color: #1512c0;
        height: 80vh;
        width: 100%;
        z-index: 999;
        gap: 50px;
        padding-top: 20px;
        text-align: center;
        transition: .5s ease-in-out;
        color: white;
    }
    .small.active{
        position: absolute;
        left: 0;
    }
    
    .nav-search{
        padding: 2px 3px 2px 3px;
        margin-left: 150px;
        /* background: white; */
        justify-items: center;
        width: 150px;
    }
   

}

@media(max-width:900px){
    .nokia__nav__btn{
        @apply bg-white text-black rounded-xl px-2 text-xs
    }
}


